<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="CS2Path" value="C:\Program Files (x86)\Steam\steamapps\common\Counter-Strike Global Offensive" />
		<add key="Map" value="de_dust2" />
		<add key="Args" value="-dedicated -console" />
		<add key="Gametype" value="0" />
		<add key="Gamemode" value="0" />
	</appSettings>
</configuration>